### III - Installer pyspark sur colab

#### 1 - Installer Apache Spark et PySpark

In [6]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j
!pip install -q pymongo matplotlib seaborn

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:2 https://cli.github.com/packages stable InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:4 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:9 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
53 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
^C

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now
Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)
Requirement already satisfied: py4j in /usr/local/lib/python3.12/dist-packages (0.10.9.9)

#### 2 - Configurer l'environnement

In [7]:
import os
import sys
import findspark
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"
findspark.init()
findspark.find()

'/usr/local/lib/python3.12/dist-packages/pyspark'

#### 3 - Démarrer une session Spark

In [8]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("ColabSpark").config("spark.driver.memory", "2g").getOrCreate()
print("Spark est configuré avec succès!")

Spark est configuré avec succès!

#### 4 - Premier exemple

In [9]:
# Vérifier la session Spark
print(spark.version)

4.0.1

In [10]:
# Créer un DataFrame simple avec les infos suivantes
data = [(1, "Alice", 23), (2, "Bob", 30), (3, "Charlie", 29)]
columns = ["id", "nom", "age"]
df = spark.createDataFrame(data, columns)

In [11]:
# Afficher le contenu du DataFrame
df.show()

+---+-------+---+
| id|    nom|age|
+---+-------+---+
|  1|  Alice| 23|
|  2|    Bob| 30|
|  3|Charlie| 29|
+---+-------+---+

In [12]:
# voici Quelques opérations de base
df.printSchema() # Structure du DataFrame
df.select("nom", "age").show() # Sélection de colonnes
df.filter(df.age > 25).show() # Filtrage des données

root
 |-- id: long (nullable = true)
 |-- nom: string (nullable = true)
 |-- age: long (nullable = true)

+-------+---+
|    nom|age|
+-------+---+
|  Alice| 23|
|    Bob| 30|
|Charlie| 29|
+-------+---+

+---+-------+---+
| id|    nom|age|
+---+-------+---+
|  2|    Bob| 30|
|  3|Charlie| 29|
+---+-------+---+

#### 5 - Chargement et Manipulation des Données avec Spark
##### a. On va charger un dataset CSV et l'analyser avec Spark

In [14]:
df = spark.read.csv("/content/transactions.csv", header=True, inferSchema=True)
df.show(5)

+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
|Transaction ID|Sender Account ID|Receiver Account ID|Transaction Amount|Transaction Type|          Timestamp|Transaction Status|Fraud Flag|Geolocation (Latitude/Longitude)|Device Used|Network Slice ID|Latency (ms)|Slice Bandwidth (Mbps)|PIN Code|
+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
| TXN9520068950|         ACC14994|           ACC16656|             495.9|         Deposit|2025-01-17 10:14:00|            Failed|      true|            34.0522 N, -74.006 W|    Desktop|          Slice3|          10|                   179|    3075|
| TXN9412011085|         ACC58958|           ACC32826|            529.62|      Withdrawal|2025-01-17 10:51:00|           Success|     false|            35.6895 N, -118.2...|     Mobile|          Slice2|          11|                    89|    2369|
| TXN4407425052|         ACC56321|           ACC92481|            862.47|      Withdrawal|2025-01-17 10:50:00|            Failed|     false|             48.8566 N, 2.3522 W|     Mobile|          Slice1|           4|                    53|    8039|
| TXN2214150284|         ACC48650|           ACC76457|           1129.88|        Transfer|2025-01-17 10:56:00|           Success|      true|            34.0522 N, -74.006 W|     Mobile|          Slice3|          10|                   127|    6374|
| TXN4247571145|         ACC60921|           ACC11419|            933.24|         Deposit|2025-01-17 10:25:00|           Success|      true|            55.7558 N, 37.6173 W|     Mobile|          Slice3|          20|                   191|    8375|
+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
only showing top 5 rows

In [15]:
# Afficher le schéma des données
df.printSchema()

root
 |-- Transaction ID: string (nullable = true)
 |-- Sender Account ID: string (nullable = true)
 |-- Receiver Account ID: string (nullable = true)
 |-- Transaction Amount: double (nullable = true)
 |-- Transaction Type: string (nullable = true)
 |-- Timestamp: timestamp (nullable = true)
 |-- Transaction Status: string (nullable = true)
 |-- Fraud Flag: boolean (nullable = true)
 |-- Geolocation (Latitude/Longitude): string (nullable = true)
 |-- Device Used: string (nullable = true)
 |-- Network Slice ID: string (nullable = true)
 |-- Latency (ms): integer (nullable = true)
 |-- Slice Bandwidth (Mbps): integer (nullable = true)
 |-- PIN Code: integer (nullable = true)

In [16]:
# Filtrer les transactions supérieures à 1000
df.filter(df["Transaction Amount"] > 1000).show()

+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
|Transaction ID|Sender Account ID|Receiver Account ID|Transaction Amount|Transaction Type|          Timestamp|Transaction Status|Fraud Flag|Geolocation (Latitude/Longitude)|Device Used|Network Slice ID|Latency (ms)|Slice Bandwidth (Mbps)|PIN Code|
+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
| TXN2214150284|         ACC48650|           ACC76457|           1129.88|        Transfer|2025-01-17 10:56:00|           Success|      true|            34.0522 N, -74.006 W|     Mobile|          Slice3|          10|                   127|    6374|
| TXN3109277527|         ACC48227|           ACC93536|            1135.8|         Deposit|2025-01-17 10:56:00|            Failed|      true|            48.8566 N, -118.2...|     Mobile|          Slice2|          11|                    69|    8607|
| TXN4541918858|         ACC10284|           ACC24018|           1154.59|      Withdrawal|2025-01-17 10:38:00|           Success|     false|            40.7128 N, -118.2...|     Mobile|          Slice2|           6|                   151|    1841|
| TXN2166128709|         ACC11156|           ACC57086|           1356.77|         Deposit|2025-01-17 10:06:00|            Failed|     false|             40.7128 N, 2.3522 W|    Desktop|          Slice1|          18|                   179|    4525|
| TXN6682052855|         ACC68764|           ACC53807|           1171.23|        Transfer|2025-01-17 10:29:00|           Success|     false|            34.0522 N, -74.006 W|     Mobile|          Slice2|          13|                    88|    1993|
| TXN5541586171|         ACC72546|           ACC73085|           1196.23|      Withdrawal|2025-01-17 10:48:00|            Failed|     false|            48.8566 N, -74.006 W|     Mobile|          Slice2|           4|                    72|    3997|
| TXN2415439100|         ACC92329|           ACC71125|           1414.14|        Transfer|2025-01-17 10:30:00|            Failed|     false|            55.7558 N, 37.6173 W|     Mobile|          Slice2|           4|                    52|    9001|
| TXN3884612815|         ACC79800|           ACC11375|           1453.39|      Withdrawal|2025-01-17 10:12:00|            Failed|     false|            40.7128 N, -74.006 W|     Mobile|          Slice2|          13|                   151|    8717|
| TXN7417651729|         ACC26106|           ACC21043|            1371.8|        Transfer|2025-01-17 10:09:00|            Failed|      true|            35.6895 N, 37.6173 W|     Mobile|          Slice1|           8|                    61|    3326|
| TXN6661143500|         ACC94124|           ACC34396|           1227.89|        Transfer|2025-01-17 10:29:00|           Success|     false|             34.0522 N, 2.3522 W|    Desktop|          Slice2|           7|                    70|    1222|
| TXN2465139688|         ACC21498|           ACC64106|           1483.75|        Transfer|2025-01-17 10:03:00|           Success|     false|             55.7558 N, 0.1278 W|    Desktop|          Slice1|          11|                    82|    1470|
| TXN6050985831|         ACC90300|           ACC78072|           1093.14|      Withdrawal|2025-01-17 10:05:00|            Failed|     false|            35.6895 N, -118.2...|    Desktop|          Slice3|          10|                   224|    3581|
| TXN2157994961|         ACC60872|           ACC56165|            1017.3|         Deposit|2025-01-17 10:52:00|            Failed|      true|            35.6895 N, 139.69...|     Mobile|          Slice3|          11|                   100|    9988|
| TXN2467998038|         ACC92520|           ACC54323|           1436.77|      Withdrawal|2025-01-17 11:00:00|            Failed|     false|            48.8566 N, -118.2...|     Mobile|          Slice1|          16|                   192|    5044|
| TXN4014434434|         ACC50922|           ACC98669|           1094.34|        Transfer|2025-01-17 10:55:00|            Failed|     false|            51.5074 N, -118.2...|     Mobile|          Slice1|           4|                   102|    7573|
| TXN5548725719|         ACC49858|           ACC26440|           1235.27|         Deposit|2025-01-17 10:31:00|           Success|     false|             48.8566 N, 2.3522 W|     Mobile|          Slice3|           9|                   237|    5090|
| TXN6819290771|         ACC89817|           ACC51611|           1069.09|      Withdrawal|2025-01-17 10:24:00|            Failed|      true|            48.8566 N, 139.69...|     Mobile|          Slice2|           6|                   249|    9044|
| TXN6621010350|         ACC62557|           ACC33681|           1393.36|        Transfer|2025-01-17 10:10:00|           Success|     false|             48.8566 N, 0.1278 W|    Desktop|          Slice3|           8|                   232|    4607|
| TXN4412754237|         ACC52000|           ACC38394|            1246.4|        Transfer|2025-01-17 10:55:00|           Success|     false|            34.0522 N, 139.69...|    Desktop|          Slice2|           9|                   132|    8747|
| TXN6154853073|         ACC37651|           ACC65346|           1446.89|      Withdrawal|2025-01-17 10:15:00|            Failed|      true|            55.7558 N, -118.2...|     Mobile|          Slice1|          15|                    83|    7612|
+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
only showing top 20 rows

In [17]:
# Calculer le montant total des transactions par type
df.groupBy("Transaction Type").sum("Transaction Amount").show()

+----------------+-----------------------+
|Transaction Type|sum(Transaction Amount)|
+----------------+-----------------------+
|         Deposit|     252042.61999999988|
|        Transfer|      291776.5500000002|
|      Withdrawal|     227346.12000000002|
+----------------+-----------------------+

In [18]:
# Trier les transactions par montant décroissant
df.orderBy(df["Transaction Amount"].desc()).show(5)

+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
|Transaction ID|Sender Account ID|Receiver Account ID|Transaction Amount|Transaction Type|          Timestamp|Transaction Status|Fraud Flag|Geolocation (Latitude/Longitude)|Device Used|Network Slice ID|Latency (ms)|Slice Bandwidth (Mbps)|PIN Code|
+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
| TXN1696527060|         ACC44804|           ACC26269|           1497.76|        Transfer|2025-01-17 10:54:00|           Success|      true|            55.7558 N, -118.2...|    Desktop|          Slice2|          10|                   113|    5668|
| TXN8741905833|         ACC67128|           ACC77786|           1495.01|        Transfer|2025-01-17 10:46:00|           Success|      true|             35.6895 N, 0.1278 W|     Mobile|          Slice1|          14|                   203|    7450|
| TXN4979176158|         ACC76875|           ACC22724|            1494.2|         Deposit|2025-01-17 10:31:00|            Failed|      true|            51.5074 N, -118.2...|     Mobile|          Slice1|           6|                    64|    3912|
| TXN7486103501|         ACC14340|           ACC33467|           1494.03|        Transfer|2025-01-17 10:07:00|           Success|      true|             40.7128 N, 2.3522 W|    Desktop|          Slice1|          12|                   214|    8664|
| TXN4433757533|         ACC47545|           ACC63108|           1494.01|        Transfer|2025-01-17 10:28:00|           Success|     false|             55.7558 N, 0.1278 W|     Mobile|          Slice2|           8|                   151|    1163|
+--------------+-----------------+-------------------+------------------+----------------+-------------------+------------------+----------+--------------------------------+-----------+----------------+------------+----------------------+--------+
only showing top 5 rows

### IV - Étude de cas : Intégration de Spark avec MongoDB Atlas

In [19]:
# Installer le connecteur MongoDB Spark
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.12/dist-packages (4.16.0)
Requirement already satisfied: dnspython<3.0.0,>=2.6.1 in /usr/local/lib/python3.12/dist-packages (from pymongo) (2.8.0)